<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>入住管理</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        a{
            color:#000;
        }
        .container li{
            margin-top: 20px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">酒店管理系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <% if(login){ %>
            <ul class="nav navbar-nav">
                <li><a href="/check">入住管理</a></li>
                <li><a href="/exitroom">退房管理</a></li>
                <li class="active"><a href="/jilu">记录查询</a></li>
                <li><a href="/showRoom">房间管理</a></li>
                <li><a href="/showClass">房类管理</a></li>
                <li><a href="/room">房间图</a></li>
                <li><a href="/pw">修改密码</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">欢迎<%=user%></a></li>
                <li><a href="/quit">退出系统</a></li>
            </ul>
            <%}else{%>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/reg">注册</a></li>
                <li><a href="/login">登陆</a></li>
            </ul>
            <%}%>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="container">

    <div class="container">
        <h4>请输入入住人姓名或者证件号查询</h4>
        <div>
            <input type="text" class="form-control" aria-label="..." name="roomid">
            <button type="button" class="btn btn-success" id="searchorder">查询</button>
        </div>
        <div class="alert alert-danger" role="alert" style="margin-top: 10px;display:none"id="alert"></div>

    </div>

    <div>

        <table class="table" id="table">
            <thead>
                <tr>
                    <th>入住时间</th>
                    <th>退房时间</th>
                    <th>入住人</th>
                    <th>联系人</th>
                    <th>证件号</th>
                    <th>性别</th>
                    <th>房间号</th>
                    <th>房间类型</th>
                    <th>消费金额</th>
                </tr>
            </thead>
            <tbody id="tbody">

            </tbody>
        </table>


    </div>
</div>


    <script src="js/jquery-1.12.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

<script>
    $("#searchorder").click(function(){
        var cont=$("input[name=roomid]").val();
        // console.log(cont);
        $("#tbody").empty();
        $.post("/search/"+cont,function(data) {


            console.log(data);


                for(var i=0;i<data.result.length;i++) {
                    // alert(1);
                    if (data.result[i].orderstate == "1"||data.result[i].orderstate == "0") {
                        var endtime = data.result[i].endtime.split("-")[2];
                        var starttime = data.result[i].starttime.split("-")[2];
                        // console.log(endtime,starttime)
                        var day = endtime - starttime;
                        var str = "<tr>" +
                            "<th>" + data.result[i].starttime + "</th>" +
                            "<th>" + data.result[i].endtime + "</th>" +
                            "<th>" + data.result[i].name + "</th>" +
                            "<th>" + data.result[i].people + "</th>" +
                            "<th>" + data.result[i].certificate + "</th>" +
                            "<th>" + data.result[i].sex + "</th>" +
                            "<th>" + data.result[i].roomid + "</th>" +
                            "<th>" + data.result[i].roomtype + "</th>" +
                            "<th>" + day * data.result[i].price + "</th>" +
                            "</tr>"

                        $("#tbody").append(str);

                    }else if(data.result[i].orderstate == "2"){
                        var endtime = data.result[i].endtime;
                        var starttime = data.result[i].starttime;
                        // console.log(endtime,starttime)
                        var day = endtime - starttime;
                        console.log(day);
                        var str = "<tr>" +
                            "<th>" + data.result[i].starttime + "</th>" +
                            "<th>" + data.result[i].endtime + "</th>" +
                            "<th>" + data.result[i].name + "</th>" +
                            "<th>" + data.result[i].people + "</th>" +
                            "<th>" + data.result[i].certificate + "</th>" +
                            "<th>" + data.result[i].sex + "</th>" +
                            "<th>" + data.result[i].roomid + "</th>" +
                            "<th>" + data.result[i].roomtype + "</th>" +
                            "<th>" + day * data.result[i].price + "</th>" +
                            "</tr>"

                        $("#tbody").append(str);
                    }


                }



        })

    })



</script>

</body>
</html>