<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>酒店管理系统</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<style>

</style>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">酒店管理系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/reg">注册</a></li>
                <li><a href="/login">登录</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <h1>欢迎注册：</h1>
    <div>
        <div class="form-group">
            <label for="yonghuming">用户名</label>
            <input type="text" class="form-control" placeholder="用户名可以是中文" name="yonghuming">
            <em></em>
            <span class="explain"></span>
        </div>
        <div class="form-group">
            <label for="mima">密码</label>
            <input type="password" class="form-control" placeholder="密码最少6位" name="mima">
            <em></em>
            <span class="explain"></span>
        </div>

        <button type="btn" class="btn btn-success" id="reg">注册</button>
    </div>
</div>
<script src="/js/jquery-1.12.3.min.js"></script>
<script src="/js/bootstrap.js"></script>


<script>
    //点击注册
    $("#reg").click(function(){

        $.post("/doreg",{"user":$("input[name=yonghuming]").val(),"password":$("input[name=mima]").val()},function(data){
            if(data.result==-1){
                alert("用户名已存在");
                return;
            }else{
                alert("注册成功");
                window.location="/";
            }
        })
    })
</script>
</body>
</html>